.pageCenter{
  width: 100%;
  height: 88%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pageCenter .forCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.product_title{
  width: 100%;
  height: 12%;
  line-height: 0.2rem;
  color: #fabe0e;
  font-size: 0.16rem;
  text-align: center;
  opacity: 0;
}
/* 所有设备、宽度必须大于800或者竖屏的时候，true */
/* @media all and (min-width:300px),(orientation:portrait){
  .product_title{
    font-size: 20px;
  }
} */
/* @media only screen and (max-width: 1200px) {
  .product_title{
    font-size: 26px;
  }
}
@media only screen and (max-width: 1000px) {
  .product_title{
    font-size: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .product_title{
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .product_title{
    font-size: 20px;
  }
} */
.product_title .product_title_top:nth-child(3){
  letter-spacing: 0.02rem;
}
.product_title .product_title_bottom{
  letter-spacing: 0.02rem;
}
.pageCenter .product_dec{
  display: none;
  color: #fff;
  font-size: 0.08rem;
  text-align: center;
  letter-spacing: 0.01rem;
  margin-top: 0.15rem;
}
.pageCenter .product1_left{
  display: none;
  position: absolute;
  top: 0.1rem;
  left: -2.2rem;
  height: 0.6rem;
  opacity: 0.2;
}
.pageCenter .product1_left img{
  height: 100%;
}
.pageCenter .product1_center{
  display: none;
  position: absolute;
  top: 0.3rem;
  left: 0.45rem;
  height: 1rem;
  opacity: 0.9;
}
.product1_center_big{
  top: 0.34rem !important;
  left: 0.5rem !important;
  height: 1.15rem !important;
}
.pageCenter .product1_center img{
  height: 100%;
}
.pageCenter .product1_right{
  display: none;
  position: absolute;
  top: 0.8rem;
  right: -2.5rem;
  height: 0.9rem;
  opacity: 0.2;
}
.pageCenter .product1_right img{
  height: 100%;
}
.pageCenter .triangle_content{
  /* width: 33%;
  height: 60%; */
  width: 2.2rem;
  height: 1.75rem;
  margin-top: 0rem;
  position: relative;
}
.triangle_content_big{
  margin-top: 0.3rem !important;
  /* width: 2.6rem !important;
  height: 2.2rem !important; */
}
.pageCenter .triangle{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.intro{
  animation:fade 1s infinite;
  -webkit-animation:fade 1s infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.line {
  position: absolute;
  width: 86%;
  height: 1px;
  /* box-shadow: 0px 0px 10px 1px rgba(41, 54, 129,0.7); */
  /* background:linear-gradient(
    -200deg,
     rgba(255,255,255,0.00) 0%,
     rgb(41, 54, 129) 53%, 
     rgba(255,255,255,0.00) 99%) */
}
.line:nth-child(2){
  transform: rotate(125deg);
  -webkit-transform: rotate(125deg);
  -moz-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  -o-transform: rotate(125deg);
}
.line:nth-child(3){
  transform: rotate(-125deg);
  -webkit-transform: rotate(-125deg);
  -moz-transform: rotate(-125deg);
  -ms-transform: rotate(-125deg);
  -o-transform: rotate(-125deg);
}
.lineTop {
  display: none;
  top: 8%;
  left: 6%;
  /* transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -ms-transition: width 2s;
  -o-transition: width 2s; */
}
.lineLeft {
  display: none;
  top: 52%;
  left: 36%;
  width: 77%;
}
.lineRight {
  display: none;
  top: 52%;
  right: 36%;
  width: 77%;
}
.lineImgContent{
  position: relative;
}
.lineImg1{
  position: absolute;
  left: 0%;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine1{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}
.lineImg2{
  position: absolute;
  left: 0%;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine2{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}
.lineImg3{
  position: absolute;
  top: -34px;
  width: 30%;
  height: 66px;
}
.lineImgLine3{
  position: absolute;
  top: -19px;
  width: 20%;
  height: 38px;
  left: 0%;
}